<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Metropolitan Districts!</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="container">
        
      <header>
        <h1 class="title">Metropolitan Districts</h1>
        
      </header>
      
      <h3>Robert Moses and Metropolitan Districts Would Be Friends</h3>
      <div class="square1">
        <%= sentance %>
      </div>
      
      <div class="all_sentances">
        <% sentances.each_with_index do |s, i| %>
          <div class="hidden" id="quote-<%= i %>">
            <p><%= s %></p>
            <p><%= i %></p>
            
          </div>
        <% end %>
      </div>
      
    </div>
    
    <footer class="footer">
      <p>Made with ❤️ by <a href="https://josh.works/">josh thompson</a></p>
      <p><a href="https://github.com/josh-works/ruby_web_scraping_ex_2">Git repo for this little project</a></p>
      <p>This tiny project is part of <a href="https://intermediateruby.com/">Intermediate Ruby</a></p>
      <br>
    </footer>
  </body>
</html>