* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    /* border: 1px dotted black; */
    box-sizing: border-box;
    text-align: center
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: #515151;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

html {
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  
}
@media only screen and (min-width: 30em) {
  html {font-size: 23px;}
}

.hidden {
  display: none;
}

#quote-0 {
  display: block;
}
#quote-1 {
  display: block;
}
#quote-2 {
  display: block;
}

.container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 60.25%;
    margin-bottom: 10%;
    margin-left:auto;
    margin-right:auto
}
.container {
  max-width: 38rem;
  padding-left:  1.5rem;
  padding-right: 1.5rem;
  margin-left:  auto;
  margin-right: auto;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 110%;
}


footer {
  margin-bottom: 2rem;
}


/* // No `:visited` state is required by default (browsers will use `a`) */
a {
  color: #268bd2;
  text-decoration: none;

  // `:focus` is linked to `:hover` for basic accessibility
  &:hover,
  &:focus {
    text-decoration: underline;
  }

  strong {
    color: inherit;
  }
}

img {
  display: block;
  max-width: 100%;
  margin: auto;
  border-radius: 5px;
}

@keyframes pulse {
  0% {
    background-color: #bbff00;
  }
  50% {
    background-color: #74992e;
  }
  100% {
    background-color: #bbff00
  }
}

.square1 {
  animation: pulse 5s infinite;
  /* width: 100px;
  height: 100px; */
}